*{
    font-family: 'Roboto', sans-serif;}
body
{background-color: rgb(21, 21, 21);}
p
{color: rgb(249, 249, 249);}
h1
{color: rgb(249, 249, 249);}
h2
{color: rgb(249, 249, 249);}
h3
{color: rgb(249, 249, 249);}
h4
{color: rgb(249, 249, 249);}
a
{color: rgb(178, 219, 255);}
button
{padding: 10px 30px; 
background: rgb(142, 0, 0); 
color: white;
  -webkit-border-radius: 11px;
  -moz-border-radius: 11px;
}
button:hover {
background: rgb(255, 0, 0); 
box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19)}
img
{
  -webkit-border-radius: 20px;
  -moz-border-radius: 11px;
  
}
img:hover
{
  -webkit-border-radius: 30px;
  -moz-border-radius: 15px;  
}
.Warning
{color: rgb(140, 0, 0);}
